services:
    php:
        build:
            dockerfile: ./docker/php/Dockerfile
            context: .
        restart: unless-stopped
        networks:
            - web
        working_dir: /var/www/symfony
        volumes:
            - ./:/var/www/symfony
        environment:
            APP_ENV: prod
            APP_DEBUG: 0
            DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD_ENCODED}@db:5432/${DB_NAME}?serverVersion=16&charset=utf8"
#        healthcheck:
#            test: ["CMD-SHELL", "php-fpm -t || exit 1"]
#            interval: 30s
#            timeout: 10s
#            retries: 3
#            start_period: 40s
        deploy:
            resources:
                limits:
                    memory: 512M
                reservations:
                    memory: 256M

    nginx:
        build: ./docker/nginx
        restart: unless-stopped
        volumes:
            - ./:/var/www/symfony:ro
            - ./docker/nginx/templates/default.conf.template:/etc/nginx/conf.d/default.conf
        networks:
            - web
#        depends_on:
#            php:
#                condition: service_healthy
#        healthcheck:
#            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost/health"]
#            interval: 30s
#            timeout: 10s
#            retries: 3
#            start_period: 20s
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nginx.rule=Host(`minecraft.multimod.ovh`)"
            - "traefik.http.routers.nginx.entrypoints=websecure"
            - "traefik.http.services.nginx.loadbalancer.server.port=80"
            - "traefik.http.routers.nginx.tls=true"
            - "traefik.http.routers.nginx.tls.certresolver=default"
            - "traefik.docker.network=web"
        deploy:
            resources:
                limits:
                    memory: 128M

    db:
        image: postgres:16-alpine
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - web
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        deploy:
            resources:
                limits:
                    memory: 512M
                reservations:
                    memory: 256M
volumes:
    db_data:

networks:
    web:
        external: true

