services:
    php:
        build:
            dockerfile: ./docker/php/Dockerfile
            context: .
        networks:
            - web
        working_dir: /var/www/symfony
        volumes:
            - ./:/var/www/symfony
        environment:
            APP_ENV: prod
            APP_DEBUG: 0
            DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?serverVersion=16&charset=utf8"

    nginx:
        build: ./docker/nginx
        volumes:
            - ./:/var/www/symfony
            - ./docker/nginx/templates/default.conf.template:/etc/nginx/conf.d/default.conf
        networks:
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.minecraft.rule=Host(`minecraft.multimod.ovh`)"
            - "traefik.http.routers.minecraft.entrypoints=websecure"
            - "traefik.http.services.minecraft.loadbalancer.server.port=80"
            - "traefik.http.routers.minecraft.tls=true"
            - "traefik.http.routers.minecraft.tls.certresolver=default"
            - "traefik.docker.network=web"
    db:
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - web
volumes:
    db_data:

networks:
    web:
        external: true

